* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bgcolorblack: rgb(37, 37, 37);
  --bgcolorwhite: #fff;
}
body {
  background-color: var(--bgcolorblack);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 350px;
  height: 90vh;
  background-color: var(--bgcolorwhite);
  position: relative;
}
.text {
  padding: 10px 20px;
  height: calc(90vh - 400px);
  position: relative;
}
.container .text h1 {
  font-size: 62px;
  color: var(--bgcolorblack);
  position: absolute;
  bottom: 100px;
  right: 20px;
  width:calc(100% - 40px);
  overflow: hidden;
  text-align: right;
}
.container .text input[type="text"] {
  border: none;
  outline: none;
  font-size: 18px;
  color: blueviolet;
  position: absolute;
  bottom: 80px;
  right: 20px;
  text-align: right;
  width: calc(100% - 40px);
  overflow: hidden;
  background-color: var(--bgcolorwhite);
}
.container .box {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap; 
  position: absolute;
  bottom: 0;
  height: 400px;
  justify-content: center;
}
.container .box input[type="button"] {
  width: 25%;
  height: 80px;
  border:none;
  font-size: 20px;
  color: rgb(136, 117, 117);
  background: var(--bgcolorwhite);
  text-align: center;
}
.container #clear{
    color: blueviolet;
}
.container #c_circle{
    background: blueviolet;
    color: #fff;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.container #b_circle{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-top: 10px;
    background-color: #fff;
}
